<section class="container-spacing">
    <div class="flex gap-8 items-stretch">
        <div class="w-1/2 flex flex-col">
            <div class="space-y-8 mb-16">
                <h1>Sobre nós</h1>
                <p>Com terrenos amplos, área preservada, portaria com controle de acesso e infraestrutura completa, o Jardins do Pontal oferece o equilíbrio perfeito entre natureza e cidade.</p>
            </div>
            <div class="flex-1">
                <img src="Jardins do Pontal.png" alt="Jardins do Pontal" class="rounded-lg w-full h-full object-cover"> 
            </div>
        </div>
        <div class="w-1/2 flex flex-col">
            <div class="space-y-8 flex-1">
                <div class="space-y-8 bg-white px-8 py-8 rounded-lg">
                    <img src="src/Icons/lucide/map-pin.svg" alt="map-pin" class=""/>
                    <h2 class="h2">Localização estratégica</h2>
                    <p>A apenas 10 minutos do centro de Governador Valadares, com acesso por rodovia.</p>
                </div>
                <div class="space-y-8 bg-white px-8 py-8 rounded-lg">
                    <img src="src/Icons/lucide/shield.svg" alt="shield" class=""/>
                    <h2 class="h2">Condomínio fechado e segurança</h2>
                    <p>Portaria com controle de acesso, estrutura planejada e vizinhança tranquila.</p>
                </div>
                <div class="space-y-8 bg-white px-8 py-8 rounded-lg">
                    <img src="src/Icons/lucide/hammer.svg" alt="hammer" class=""/>
                    <h2 class="h2">Terrenos prontos para construir</h2>
                    <p>Lotes planos, com infraestrutura pronta, documentação regularizada e opções de financiamento com entrada facilitada.</p>
                </div>
            </div>
            <a href="#" class="btn h2 w-full flex items-center justify-center gap-2 mt-16">
                Entre em contato
                <img src="src/Icons/lucide/chevron-right.svg" alt="chevron-right" class="w-10 h-10">
            </a>
        </div>
    </div>
</section>