<section class="bg-white">
    <div class="container-spacing py-8 sm:py-12 lg:py-16">
        <div class="flex flex-col sm:flex-row justify-between items-center sm:items-start gap-6 sm:gap-0">
            <div>
                <a href="#Hero" aria-label="Ir para a página inicial">
                    <img
                      id="Logo"
                      src="/Logo.svg"
                      alt="Logo Jardins do Pontal"
                      class="cursor-pointer transition-transform duration-300 hover:scale-105 w-[100px] h-[75px] sm:w-[140px] sm:h-[105px] lg:w-[170px] lg:h-[128px]"
                    >
                </a>
            </div>
            <div class="flex flex-col items-center sm:items-end space-y-4 sm:space-y-8">
                <a href="#Map" class="text-lg sm:text-xl lg:h2 animated-underline duration-200">Localização</a>
                <a href="#AboutUs" class="text-lg sm:text-xl lg:h2 animated-underline duration-200">Sobre nós</a>
                <a href="#Gallery" class="text-lg sm:text-xl lg:h2 animated-underline duration-200">Galeria</a>
            </div>
        </div>
        
        <div class="w-full h-px bg-gradient-to-r from-transparent via-black to-transparent my-6 sm:my-8"></div>
        
        <div class="flex flex-col sm:flex-row justify-between items-center gap-3 sm:gap-4">
            <p class="text-sm sm:text-base text-black text-center sm:text-left">Jardins do Pontal - Todos os direitos reservados</p>
            <p class="text-sm sm:text-base text-black text-center sm:text-right">
                Feito por 
                <a href="https://www.brevard.com.br" class="relative group bg-gradient-to-r from-yellow-300 via-pink-500 to-blue-600 bg-clip-text text-transparent duration-200">
        Brevard
        <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-gradient-to-r from-yellow-300 via-pink-500 to-blue-600 group-hover:w-full transition-all duration-200"></span>
    </a>
            </p>
        </div>
    </div>
</section>