<div class="mx-16 my-8 lg:mx-64 lg:my-16 content-spacing container-custom flex items-center justify-between px-4 sm:px-6">
	<a href="/" aria-label="Go to homepage">
	<img id="Logo"
       src="/Logo.svg" 
       alt="Logo Jardins do Pontal" 
       class=" cursor-pointer transition-transform duration-300 hover:scale-105"
       width="170"
       height="128">
	</a>
	<nav class="hidden md:flex items-center space-x-12 lg:space-x-16">
	<a href="/" class="h2 animated-underline duration-200">Localização</a>
	<a href="/" class="h2 animated-underline duration-200">Sobre nós</a>
	<a href="/" class="h2 animated-underline duration-200">Espaços de Lazer</a>
	<a href="/" class="h2 animated-underline duration-200">Galeria</a>
	</nav>

</div>