<section class="mx-16 my-8 lg:mx-64 lg:my-16">
    <div class="w-1/2">
        <h1>O espaço que você procurava para viver com liberdade, conforto e tranquilidade.</h1>
        <a href="#" class="btn h2 mt-16">
            Contate-nos
            <img src="src/Icons/lucide/message-circle.svg" alt="message-circle" class="w-10 h-10">
        </a>
    </div>
</section>

<div class="mt-16">
    <div class="w-screen ml-[calc(-50vw+50%)]">
        <img src="Render - Hero.png" alt="" class="w-full h-auto object-cover">
    </div>
</div>

<div class="w-screen ml-[calc(-50vw+50%)] bg-white py-4">
    <div class="mx-16 my-8 lg:mx-64 lg:my-16">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center">
    <div class="bg-white p-6 text-center">
        <h1 class='mb-16 whitespace-nowrap'>1.000 m² +</h1>
        <p class="text-black whitespace-nowrap">Loteamentos A PARTIR DE 1.000 m².</p>
    </div>

    <div class="bg-white p-6 text-center">
        <h1 class='mb-16 whitespace-nowrap'>10 min</h1>
        <p class="text-gray-600 whitespace-nowrap">10 min do centro de Gov. Valadares.</p>
    </div>
    
    <div class="bg-white p-6 text-center">
        <h1 class='mb-16 whitespace-nowrap'>≈ 150 lotes</h1>
        <p class="text-gray-600 whitespace-nowrap">Apenas 153 lotes disponíveis.</p>
    </div>
</div>
    </div>
</div>