<section id="Map" class="container-spacing">
    <div class="flex flex-col lg:flex-row gap-4 lg:gap-8"> 
        <div class="flex-1 h-64 lg:h-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25404.817740713217!2d-42.01828595822762!3d-18.822704428272633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb1a50d2d75e243%3A0x4ad52f237132c40a!2sCondom%C3%ADnio%20de%20Ch%C3%A1caras%20Jardins%20do%20Pontal!5e0!3m2!1spt-PT!2sbr!4v1754930037077!5m2!1spt-PT!2sbr" class="w-full h-full rounded-lg" style="border:0;" allowfullscreen loading="lazy"></iframe>
        </div>
        <div class="flex-1 rounded-lg bg-white space-y-4 lg:space-y-8 py-4 lg:py-8">
            <h1 class="px-4 lg:px-8">Onde Estamos:</h1>
            <div class="hidden md:flex justify-center">
                <div class="w-100 h-px bg-gradient-to-r from-white via-black to-white"></div>
            </div>
            <h3 class="px-4 lg:px-8 mt-4 lg:mt-8 mb-2 lg:mb-4">Rod. Dep. Pedro de Tassis</h3>
            <h3 class="px-4 lg:px-8 mt-2 lg:mt-4 mb-4 lg:mb-8">Gov. Valadares - Minas Gerais, 35101-000</h3>
            <div class="px-4 lg:px-8 mt-8 lg:mt-64">
                <a href="https://api.whatsapp.com/send?phone=553398602055&text=Ol%C3%A1%2C%20gostaria%20de%20conhecer%20o%20Jardins%20do%20Pontal" class="btn h3 mt-8 lg:mt-16 mx-auto flex items-center justify-center gap-2 max-w-[calc(100%-32px)] lg:max-w-[calc(100%-64px)]">
                    Contate-nos
                    <img src="/message-circle.svg" alt="message-circle" class="w-4 h-4">
                </a>
            </div>    
        </div>
    </div>
</section>